<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
  <h1 style="background-color: #0565c4"> {{ title }} </h1>
</div>
  <!-- <canvas id="lineChart" ></canvas> -->


  <div class="grid-container">
      <div class="grid-item chart1">
          <canvas id="barChart"></canvas>
      </div>
      <div class="grid-item chart2">
          <canvas id="comitterBarChart"></canvas>
      </div>
  </div>

  <!-- <div class="container">
      <div class="chart1"> 
          <canvas id="barChart"></canvas>
      </div>


      <div class="chart2">
        <canvas id="comitterBarChart"></canvas>
      </div>  
  </div> -->
  
 <!-- WORKING CODE  -->
  <<!-- div class="container">
      <div class="chart1"> 
          <canvas id="barChart"></canvas>
      </div>


      <div class="chart2">
        <canvas id="comitterBarChart"></canvas>
      </div>  
  </div> -->



  

<router-outlet></router-outlet>
